.container {
  margin-top: 32px;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listHeader strong {
  color: var(--gray-900);
  font-size: 24px;
}

.listHeader a {
  padding: 8px 16px;
  color: var(--primary-color-main);
  font-weight: bold;

  border: 2px solid var(--primary-color-main);
  border-radius: 4px;

  transition: all 0.2s ease-in;
}

.listHeader a:hover {
  background-color: var(--primary-color-main);
  color: #fff;
}

.listContainer {
  margin-top: 24px;
}

.listContainer header {
  margin-bottom: 8px;
}

.listContainer header button {
  display: flex;
  align-items: center;

  background: transparent;
  border: none;
}

.listContainer header button span {
  font-weight: bold;
  margin-right: 8px;
  color: var(--primary-color-main);
}

.listBody {
  margin-top: 16px;
}
